-- 1. Create profiles table
CREATE TABLE IF NOT EXISTS public.profiles (
  id UUID REFERENCES auth.users(id) ON DELETE CASCADE PRIMARY KEY,
  full_name TEXT,
  email TEXT UNIQUE NOT NULL,
  avatar_url TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- Enable RLS for profiles
ALTER TABLE public.profiles ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Public profiles are viewable by everyone."
  ON public.profiles FOR SELECT
  USING ( true );

CREATE POLICY "Users can insert their own profile."
  ON public.profiles FOR INSERT
  WITH CHECK ( auth.uid() = id );

CREATE POLICY "Users can update own profile."
  ON public.profiles FOR UPDATE
  USING ( auth.uid() = id );

-- 2. Create interviews table
CREATE TABLE IF NOT EXISTS public.interviews (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  user_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE,
  role TEXT,
  experience_level TEXT,
  interview_type TEXT,
  status TEXT,
  created_at TIMESTAMPTZ DEFAULT NOW(),
  duration_minutes INT,
  actual_duration_seconds INT,
  started_at TIMESTAMPTZ,
  finished_at TIMESTAMPTZ,
  job_description TEXT,
  resume_text TEXT
);

-- Enable RLS for interviews
ALTER TABLE public.interviews ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view their own interviews."
  ON public.interviews FOR SELECT
  USING ( auth.uid() = user_id );

CREATE POLICY "Users can insert their own interviews."
  ON public.interviews FOR INSERT
  WITH CHECK ( auth.uid() = user_id );

CREATE POLICY "Users can update their own interviews."
  ON public.interviews FOR UPDATE
  USING ( auth.uid() = user_id );

CREATE POLICY "Users can delete their own interviews."
  ON public.interviews FOR DELETE
  USING ( auth.uid() = user_id );

-- 3. Create interview_reports table
CREATE TABLE IF NOT EXISTS public.interview_reports (
  id UUID PRIMARY KEY DEFAULT gen_random_uuid(),
  interview_id UUID REFERENCES public.interviews(id) ON DELETE CASCADE,
  overall_score INT,
  technical_knowledge INT,
  communication INT,
  confidence INT,
  problem_solving INT,
  strong_areas JSONB,
  weak_areas JSONB,
  suggested_improvements JSONB,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- Enable RLS for interview_reports
ALTER TABLE public.interview_reports ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view reports for their own interviews."
  ON public.interview_reports FOR SELECT
  USING (
    EXISTS (
      SELECT 1 FROM public.interviews
      WHERE public.interviews.id = public.interview_reports.interview_id
      AND public.interviews.user_id = auth.uid()
    )
  );

CREATE POLICY "Users can insert reports for their own interviews."
  ON public.interview_reports FOR INSERT
  WITH CHECK (
    EXISTS (
      SELECT 1 FROM public.interviews
      WHERE public.interviews.id = public.interview_reports.interview_id
      AND public.interviews.user_id = auth.uid()
    )
  );

-- 4. Create interview_plans table
CREATE TABLE IF NOT EXISTS public.interview_plans (
  session_id TEXT PRIMARY KEY,
  user_id UUID REFERENCES public.profiles(id) ON DELETE CASCADE,
  resume_text TEXT,
  jd_text TEXT,
  resume_profile JSONB,
  jd_profile JSONB,
  interview_plan JSONB,
  created_at TIMESTAMPTZ DEFAULT NOW()
);

-- Enable RLS for interview_plans
ALTER TABLE public.interview_plans ENABLE ROW LEVEL SECURITY;

CREATE POLICY "Users can view their own interview plans."
  ON public.interview_plans FOR SELECT
  USING ( auth.uid() = user_id );

CREATE POLICY "Users can insert their own interview plans."
  ON public.interview_plans FOR INSERT
  WITH CHECK ( auth.uid() = user_id );

CREATE POLICY "Users can update their own interview plans."
  ON public.interview_plans FOR UPDATE
  USING ( auth.uid() = user_id );

-- 5. Trigger to handle new users and insert into profiles
CREATE OR REPLACE FUNCTION public.handle_new_user()
RETURNS trigger
LANGUAGE plpgsql
SECURITY DEFINER SET search_path = public
AS $$
BEGIN
  INSERT INTO public.profiles (id, email, full_name, avatar_url)
  VALUES (
    new.id,
    new.email,
    COALESCE(new.raw_user_meta_data->>'full_name', new.raw_user_meta_data->>'name'),
    COALESCE(new.raw_user_meta_data->>'avatar_url', new.raw_user_meta_data->>'picture')
  )
  ON CONFLICT (id) DO NOTHING;
  RETURN new;
END;
$$;

DROP TRIGGER IF EXISTS on_auth_user_created ON auth.users;
CREATE TRIGGER on_auth_user_created
  AFTER INSERT ON auth.users
  FOR EACH ROW EXECUTE PROCEDURE public.handle_new_user();

